@import "tailwindcss";

@theme {
  --color-brand-orange: #F59E0B;
  --color-brand-yellow: #FBBF24;
  --color-brand-dark: #121212;
  --color-brand-white: #FDFDFD;
}

/* Forçamos o fundo a ser sempre claro e o texto escuro por padrão */
body {
  background-color: white;
  color: #121212;
}